.header_outer_container{
    position: sticky;
    top: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(20, 20, 20);
    border-color: transparent;
    height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
}
.nav_balck{
    background-color:  rgb(20, 20, 20) ;
}
.header_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
.logo_wrapper{
    width: 20vh;
    
}
.header_left li img{
    max-width: 100%;
}
.header_right {
    width: 33%;
}
.header_right ul{
    width: 90%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    cursor: pointer
    ;
}
.header_left ul li:not(.logo_wrapper) {
    display: none;
}
@media (min-width: 820px) and (max-width: 1000px) {
    .header_left ul li:not(.logo_wrapper) {
        display: block;
    }
    .header_right{
        width: 13vw;
    
    }
    .header_left ul{
        width: 120%;
    }
}
/* (min-width: 481px) and (max-width: 768px) */
@media (min-width: 1000px) {
    .header_left ul li:not(.logo_wrapper) {
        display: block;
        
    }
    .header_right{
        width: 13vw;
    
    }
    .header_outer_container{
        justify-content: center;
        position: sticky;
        top: 0;
    }
    .header_left ul{
        width: 140%;
    }
    
    
}